body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(26, 26, 26);
   }
   header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .logo img {
    height: 50px;
    width: auto;
    margin-left: 20px;
   }
   nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
   }
   nav ul li {
    margin-right: 20px;
   }
   nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
   }
   nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
   }
   .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    max-width: 1200px;
    margin: 0 auto;
   }
   .section {
    flex: 1 1 45%;
    /* Adjust as needed */
    margin-bottom: 40px;
   }
   .section img {
    width: auto;
    height: auto;
   }
   .section h2,p{
    color: #f9f9f9;
   }
   .section p{
    font-size: 10px;
   }
   .form {
    flex: 1 1 45%;
    /* Adjust as needed */
    background-color: #f9f9f9;
    padding: 35px;
    border-radius: 5px;
   }
   .form h2 {
    margin-top: 0;
   }
   .form input[type="text"],
   .form input[type="email"],
   .form input[type="tel"],
   .form button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
   }
   .form button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
   }
   .form button:hover {
    background-color: #555;
   }
   footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
   }
   nav ul li:nth-last-child(2) a,
   nav ul li:last-child a {
   color: #9e95f1; /* Adjust to your desired color */
   text-decoration: none;
   padding: 10px;
   border-radius: 5px;
   }
   nav ul li:nth-last-child(2) a:hover,
   nav ul li:last-child a:hover {
   background-color: rgba(148, 0, 211, 0.5); /* Shade of violet with opacity */
   color: #fff; /* Change text color to white on hover */
   }